footer {
  background-color: var(--bg);
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  width: 90vw;
  margin: auto;
  overflow-y: hidden;
}

.wrapper {
  display: flex;
  gap: 4rem;
  font-size: 1.675rem;
  padding: 2rem 0 2.5rem;
  position: relative;
}

.infoWrapper {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: var(--primary);
}

.title {
  margin-bottom: 1rem;
}

.infoWrapper {
  color: var(---secondary);
}

.infoWrapper:hover {
  color: var(--primary);
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.locationWrapper {
  max-width: 200px;
}

.locationWrapper:hover .infoWrapper {
  color: var(--primary);
}

.img {
  border-radius: 20px;
  box-shadow: 0px 0px 0 6px var(---secondary);
  transition: 300ms ease-in-out;
  margin-top: 1rem;
}

.locationWrapper:hover .img {
  box-shadow: 0px 0px 0 6px var(--primary);
}

@media screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .title {
    text-align: center;
  }

  .locationContainer .infoWrapper {
    justify-content: center;
  }

  .locationContainer .title {
    margin-bottom: 0;
  }
}

.svg {
  position: absolute;
  top: 10px;
}

.svg path {
  fill: var(--primary);
}

.svg1 {
  left: 20%;
  transform: scale(0.8);
}

.svg2 {
  right: 30%;
  transform: rotate(180deg) scale(3);
}