.container {
  display: flex;
  max-width: 1440px;
  width: 90vw;
  margin: 1rem auto 0;
}

.logo {
  position: relative;
  display: flex;
  flex: 1;
}

.logoBg {
  position: absolute;
  width: 200px;
  left: -56px;
  top: -50px;
}

.logoTitle {
  font-family: 'Sansita Swashed', cursive;
  font-size: 2.25rem;
  letter-spacing: 1px;
  z-index: 1;
  cursor: pointer;
}

.navContainer {
  display: flex;
  gap: 1rem;
}

.navItem {
  font-size: 1.125rem;
  transition: 300ms;
  cursor: pointer;
}

.navItem a {
  color: white;
  transition: 300ms ease-in-out;
}

.navItem a:hover {
  color: var(--primary);
}

.navItem.active .underline {
  width: 100%;
}

.navItem.active {
  color: var(--primary);
}

.underline {
  width: 0;
  height: 3px;
  background-color: var(--primary);
  transition: 300ms;
}

.navItem:hover .underline {
  width: 100%;
}

@media screen and (max-width: 400px) {
  .logoBg {
    width: 160px;
    left: -43px;
    top: -58px;
  }

  .logoTitle {
    font-size: 1.85rem;
  }
}
@media screen and (max-width: 700px) {
  .navContainer {
    display: none;
  }
}
