.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto 0;
  max-width: 1200px;
  width: 90vw;
  gap: 2rem;
}

.img {
  width: 600px;
  height: 578px;
}

.text {
  max-width: 300px;
}

.title {
  font-size: 4.5rem;
  line-height: 1.2;
}

.title span {
  color: var(--primary);
}

.desc {
  font-size: 1.725rem;
}

.hero {
  position: relative;
}

.iconWrapper {
  position: absolute;
  border-radius: 50%;
  transition: 300ms ease-in-out;
}

.iconWrapper::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(---secondary);
  transition: 300ms ease-in-out;
}

.twitterWrapper {
  top: 300px;
  left: 15px;
  width: 60px;
  height: 60px;
}

.twitterWrapper::after {
  width: 60px;
  height: 60px;
  border: 3px solid var(---secondary);
  transform: scale(0.6);
}

.linkedinWrapper {
  top: 420px;
  left: 120px;
  width: 96px;
  height: 96px;
}

.linkedinWrapper::after {
  width: 96px;
  height: 96px;
  border: 3px solid var(---secondary);
  transform: scale(0.7);
}

.facebookWrapper {
  top: 220px;
  left: 495px;
  width: 74px;
  height: 74px;
}

.facebookWrapper::after {
  width: 74px;
  height: 74px;
  border: 3px solid var(---secondary);
  transform: scale(0.7);
}

.iconWrapper:hover::after {
  transform: scale(1);
}

.iconWrapper:hover {
  transform: scale(1.1);
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  cursor: pointer;
  transition: 300ms;
}

.linkedin {
  font-size: 5.875rem;
}

.facebook {
  font-size: 3.375rem;
}

@media screen and (max-width: 1050px) {
  .img {
    width: 400px;
    height: 385px;
  }

  .twitter {
    font-size: 2.25rem;
  }

  .linkedin {
    font-size: 4rem;
  }

  .facebook {
    font-size: 2.625rem;
  }

  .twitterWrapper {
    top: 200px;
    left: 5px;
    width: 48px;
    height: 48px;
  }

  .twitterWrapper::after {
    width: 48px;
    height: 48px;
  }

  .linkedinWrapper {
    top: 278px;
    left: 78px;
    width: 66px;
    height: 66px;
  }

  .linkedinWrapper::after {
    width: 66px;
    height: 66px;
  }

  .facebookWrapper {
    top: 140px;
    left: 325px;
    width: 58px;
    height: 58px;
  }

  .facebookWrapper::after {
    width: 58px;
    height: 58px;
  }
}

@media screen and (max-width: 950px) {
  .title {
    font-size: 3.5rem;
  }

  .desc {
    font-size: 1.375rem;
  }

  .cardsTitle {
    font-size: 3rem;
    margin-top: 1rem;
  }

  .card {
    width: 300px;
  }
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    margin: 2rem auto;
  }

  .title {
    font-size: 3rem;
  }

  .img {
    width: 320px;
    height: 308px;
  }

  .cardsTitle {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .twitterWrapper {
    top: 150px;
    left: -1px;
  }

  .linkedinWrapper {
    top: 218px;
    left: 60px;
  }

  .facebookWrapper {
    top: 110px;
    left: 256px;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 2.5rem;
  }

  .cardsTitle {
    font-size: 2.5rem;
    margin-top: 3rem;
  }
}
