.card {
  cursor: pointer;
  position: relative;
  transition: 300ms ease-in-out;
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  border-radius: 18px;
}

.card:hover .overlay {
  transform: translateY(30%);
  border-radius: 0 0 13px 13px;
}

@media (hover: hover) {
  .card .overlay {
    transform: translateY(200%);
  }
  .card .githubIcon {
    transform: translate(100%, -100%);
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--primary);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 300ms ease-in-out;
  transform: translateY(20%);
  opacity: 0.95;
}

.githubIcon {
  display: flex;
  border-radius: 0 0 0 15px;
  opacity: 0.95;
  padding: 5px;
  background: var(--primary);
  z-index: 10;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  transition: 300ms ease-in-out;
}

.card:hover .githubIcon {
  transform: translate(0, 0);
}

.card:hover .githubIcon:hover {
  transform: scale(1.1);
}

.wave {
  width: 500px;
  height: 60px;
  background-size: cover;
  transform: translateY(-80px);
}

.wave path {
  fill: var(--primary);
}

.title {
  color: var(--secondary);
  position: absolute;
  transform: translateY(-20px);
  font-size: 1.75rem;
}

@media (max-width: 1300px) {
  .card:hover .overlay {
    transform: translateY(40%);
  }
  .wave {
    transform: translateY(-70px);
  }
}

@media (max-width: 1000px) {
  .wave {
    transform: translateY(-80px);
  }
}

@media (max-width: 768px) {
  .overlay {
    transform: translateY(40%);
  }
  .card:hover .overlay {
    transform: translateY(40%);
  }
  .wave {
    transform: translateY(-60px);
  }
}

@media (max-width: 600px) {
  .overlay {
    transform: translateY(60%);
  }
  .card:hover .overlay {
    transform: translateY(60%);
  }
  .wave {
    transform: translateY(-50px);
  }
  .title {
    transform: translateY(-35px);
    font-size: 1.25rem;
  }
}

@media (max-width: 450px) {
  .overlay {
    transform: translateY(85%);
  }
  .card:hover .overlay {
    transform: translateY(75%);
  }
  .wave {
    transform: translateY(-50px);
  }
  .title {
    transform: translateY(-50px);
    font-size: 1rem;
  }
}

/* @media screen and (max-width: 768px) {
  .card img {
    border-radius: 17px;
  }

  .card {
    overflow: hidden;
  }

  .overlay {
    transform: translateY(60%);
    opacity: 1;
    border-radius: 15px;
  }

  .card:hover .overlay {
    transform: translateY(60%);
    border-radius: 14px;
  }

  .wave {
    opacity: 0.6;
    opacity: 0;
    transform: scale(1.8) translateY(-57px);
  }

  .card h4 {
    transform: translateY(-10px);
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 480px) {
  .wave {
    transform: scale(1.8) translateY(-40px);
  }

  .card h4 {
    font-size: 1rem;
  }
} */
