:root {
  --gradient: linear-gradient(to left, var(--bg), #313362);
  --primary: #e47d4e;
  ---secondary: #fff;
  --bg: #101133;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Sansita+Swashed&display=swap');

/* Box sizing rules */
/* Remove default margin */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

@media (any-hover: none) {
  * {
    cursor: none !important;
  }
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  background: var(--gradient);
  color: var(---secondary);
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  width: 90vw;
  margin: auto;
}
